__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log
local_settings.py

# Virtualenv
.venv/
venv/
env/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Django static/media (si luego los usás)
staticfiles/
media/

